@font-face {
  font-family: BS1;
  src: local(a1),
       url(a1.ttf) format('truetype'),
       url(a1.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: BS2;
  src: local(a2),
       url(a2.ttf) format('truetype'),
       url(a2.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: BS3;
  src: local(a3),
       url(a3.ttf) format('truetype'),
       url(a3.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: BS4;
  src: local(a4),
       url(a4.ttf) format('truetype'),
       url(a4.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: BS5;
  src: local(a5),
       url(a5.ttf) format('truetype'),
       url(a5.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
@font-face {
  font-family: JMDB;
  src: local(JMDB),
       url(JMDB.ttf) format('truetype'),
       url(JMDB.woff) format('woff');
  font-style: normal;
  font-weight: normal;
  unicode-range: U+0-10FFFF;
}
